#article{
    padding-top: 70px;
    padding-bottom: 100px;
    position: relative;
}
.bg-article{
    transform: skewX(-15deg);
    box-shadow: 0px 5px 10px -5px rgba(90, 90, 90, 0.5);
}
.text{
    margin-inline:20%;
    position: relative;
    transform: skewX(15deg);
}
.text p, .text h1{
    text-align: justify;
    background-color: white;
}
.btn{
    background-color: #ED5555;
    border-radius: 0;
}
.bg-article2{
    transform: skewX(15deg);
}
.text2{
    transform: skewX(-15deg);
}
