body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
::selection{
    background-color: #ED5555;
    color: gold;
}
a{
    color : #ED5555;
}
a:link{
    text-decoration:none;
}
a:hover{
    color: black;
}
button{
    color: white;
    background-color: #ED5555;
    border-style: none;
    padding: 5px;
}
button:hover{
    color:gold;
}
input,textarea{
    color: #ED5555;
    border: 1px solid #ED5555;
}
input:focus, textarea:focus{
    outline:white;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}
input[type=checkbox] {
    -border-radius: 4px;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 1px solid #ccc;
}
input[type="checkbox"]:checked {
    background: #ED5555;
    margin:0px;
    position: relative;
}

h1{
    text-transform: uppercase;
}
p{
    text-align: justify;
}
.red{
    background-color: #ED5555;
}
